#search-container table th, #search-container table td {
  min-width: 140px;
  text-align: left;
}

#search-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#search-container ul li {
    width: 2em;
}

#search-container li.selected {
    color: orange;
}